* {
    margin: 0;
    padding: 0;
}


body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    margin-inline: auto;
    max-inline-size: 300px;
    border-radius: 10px;
    margin-block-end: 1rem;
}

h1 {
    margin-block-end: 1rem;
    font-size: 30px;
}

p {
    font-size: 15px;
}

.card-container {
    background-color: hsl(0, 0%, 100%);
    max-inline-size: 300px;
    margin-inline: auto;
    padding: 0.8rem 0.8rem 2.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);;
}